<h2>Post list page</h2>

<%= link_to  "Create new post", new_post_path, class: 'btn btn-primary' %>

<% @posts.each do |post| %>
  <div class='post-block'>
    <p><%= post.text %></p>
    <h6>Author - <%= post.user.email %></h6>
    <%= link_to  "Like", post_likes_path(post), method: :post %>
    <%= post.likes.count %>
  </div>
<% end %>
