<!DOCTYPE html>
<html>
  <head>
    <title>OdinTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render './app_layouts/menu' %>

    <% ApplicationHelper::ALERTS.each_key do |type| %>
      <% if flash[type] %>
        <%= alerts_from_flash(flash[type], type: type) %>
      <% end %>
    <% end %>

    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
